*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
header{ 
    width: 100%;
    padding: 30px;
   background-color: #25CED1;
}
nav{
    position: absolute;
    right: 20px;
    top: 10px;
    
    padding: 10px;
   border-radius: 20px;
}
.inicio{
    background-color: rgb(185, 185, 185);
    padding: 20px;
}
#logo{
    background-color: white;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    width: 5%;

}
nav a{
   
    font-size: 1em;
    padding: 0 auto;
    text-decoration: none;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

nav>a:hover{
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
    text-decoration:solid;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line:underline;
    
}
.titulo{
    text-align: center;
    color: #1D3B39;
    text-shadow: 2px 2px 5px rgb(63, 114, 97);
}

main{
    width: 940px;
    margin: 0 auto;
}
.contactamemain{
    display: flex;
}
.textcontactame{

    margin: 20px;
}
main>div>img{
    width: 400px;
    
}
main>div>div img{
    width: 30px;
    margin: 5px;
    
}
footer {
    
    padding-top: 50px;
    width: 100%;
    background-color: #FF8A5B;
    position: absolute;
    bottom: 0;
}
footer>p{
    text-align: center;
    position: relative;
    bottom: 20px;
}